<footer class='footer container'>
	<div class='footer__cards'>
		<div class='footer__card'>
			<p class='footer__card-title'>
				Подписка на акции и<br> спецпредложения
			</p>
			<button class='footer__card-btn'>
				Подписаться
			</button>
		</div>
		<div class='footer__card'>
			<p class='footer__card-title'>
				Ответим на вопросы и поможем<br> купить онлайн
			</p>
			<button class='footer__card-btn'>
				Консультация
			</button>
		</div>
		<div class='footer__card'>
			<p class='footer__card-title'>
				Оцените качество сайта или расскажите<br> про ошибки
			</p>
			<button class='footer__card-btn accent'>
				Оценить
			</button>
		</div>
	</div>

	<div class='footer__list'>
		<div class='footer__links'>
			<p class='footer__links-title'>Проекты</p>
			<a class='footer__link'>Все города</a>
			<a class='footer__link'>Астана</a>
			<a class='footer__link'>Алматы</a>
			<a class='footer__link'>Шымкент</a>
			<a class='footer__link'>Актау</a>
			<a class='footer__link'>Атырау</a>
			<a class='footer__link'>Караганда</a>
			<a class='footer__link'>Ташкент</a>
		</div>
		<div class='footer__links'>
			<p class='footer__links-title'>Недвижимость</p>
			<a class='footer__link'>Квартиры</a>
			<a class='footer__link'>Паркинг</a>
			<a class='footer__link'>Кладовые</a>
			<a class='footer__link'>Коттеджи</a>
			<a class='footer__link'>Офисы</a>
			<a class='footer__link'>Участки</a>
		</div>
		<div class='footer__links'>
			<p class='footer__links-title'>Способы покупки</p>
			<a class='footer__link'>Центр онлайн продаж</a>
			<a class='footer__link'>Trade-in</a>
			<a class='footer__link'>Оплаты</a>
		</div>
		<div class='footer__links'>
			<p class='footer__links-title'>Покупателям</p>
			<a class='footer__link'>Акции</a>
			<a class='footer__link'>Скидки при 100% оплате</a>
			<a class='footer__link'>Онлайн–покупка</a>
		</div>
		<div class='footer__links'>
			<p class='footer__links-title'>BI Гид</p>
			<a class='footer__link'>Ответы на вопросы</a>
			<a class='footer__link'>Что делать после покупки</a>
			<a class='footer__link'>Страхование</a>
			<a class='footer__link'>Все о гарантии моего дома</a>
			<a class='footer__link'>Калькулятор выгод</a>
			<a class='footer__link'>Меры безопасности при покупке</a>
		</div>
		<div class='footer__links'>
			<p class='footer__links-title'>Контакты</p>
			<a class='footer__link'>Офисы продаж</a>
			<a class='footer__link'>+7 (701) 7360 360</a>
		</div>
	</div>

	<div class='footer__bottom'>
		<p class='footer__bottom-copy'>
			Все права на публикуемые на сайте материалы принадлежат компании BI Group © 1995-2024<br>
			Пользователь уведомлен, что любые материалы, размещенные на сайте, являются объектами интеллектуальной собственности BI Group (правообладателя).<br> Пользователь не вправе без предварительного письменного разрешения правообладателя осуществлять какие-либо действия с объектами интеллектуальной<br> собственности, в противном случае, правообладатель оставляет за собой право на взыскание штрафов, предусмотренных законодательством РК, а также на<br> обращение в компетентные органы за защитой своих прав и законных интересов.<br>
			Любая информация, представленная на данном сайте, носит исключительно информационный характер и ни при каких условиях не является публичной офертой.
		</p>
	</div>
</footer>